.footer__title{
    font-size: var(--size-xs);
    color: var(--color-slate400);
    font-weight: 400;
    text-align: center;
    user-select: none;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}